<mat-toolbar color="primary">
  <mat-menu #catmenu="matMenu">
    <button mat-menu-item routerLink="category/all">All</button>
    <button mat-menu-item routerLink="category/create">Create</button>
  </mat-menu>
  <mat-menu #prodmenu="matMenu">
    <button mat-menu-item routerLink="product/all">All</button>
    <button mat-menu-item routerLink="product/create">Create</button>
  </mat-menu>
  <button mat-button (click)="toHome()" class="home">My App</button>
  <span class="example-spacer"></span>
  <button *ngIf="!isLoggedIn" mat-button routerLink="auth/login">Login</button>
  <button *ngIf="isLoggedIn" mat-button (click)="logout()">Logout</button>
  <button mat-button [matMenuTriggerFor]="catmenu">Categories</button>
  <button mat-button [matMenuTriggerFor]="prodmenu">Products</button>
</mat-toolbar>
