<div class="parent">
  <div class="center">
    <table mat-table [dataSource]="products" class="mat-elevation-z3">
      <!-- Name Column -->
      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef> Image </th>
        <td mat-cell *matCellDef="let element">
          <a (click)="goToDetailPage(element.id)">
            <img src="{{element.image}}" alt="Product Image" class="product-image">
          </a>
        </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name</th>
        <td mat-cell *matCellDef="let element" (click)="goToDetailPage(element.id)" class="linkName"> {{element.name}} </td>
      </ng-container>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id</th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
      <ng-container matColumnDef="stock">
        <th mat-header-cell *matHeaderCellDef> Stock</th>
        <td mat-cell *matCellDef="let element"> {{element.stock}} </td>
      </ng-container>
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> price</th>
        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
      </ng-container>
      <ng-container matColumnDef="sku">
        <th mat-header-cell *matHeaderCellDef> SKU</th>
        <td mat-cell *matCellDef="let element"> {{element.sku}} </td>
      </ng-container>
      <ng-container *ngIf="displayedColumns.includes('action')" matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Aktionen</th>
        <td mat-cell *matCellDef="let element">
          <div class="flex flex-row gap-1">
            <button mat-icon-button color="primary" (click)="goToEditPage(element.id)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteProduct(element.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>
      <!-- Additional columns can be added here -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>

