.parent{
  width: 100%;
  display: flex;
  justify-content: center;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;

}

table.mat-elevation-z3 {
  min-width: 25vw;
  width: auto;
  margin: 20px;
}
.linkName {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

.linkName:hover {
  color: red;

}
.product-image {
  width: 150px;
  min-height: 100px;
  max-height: 100px;
  cursor: pointer;
}
