.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
.icon-display {
  color: navy;
  transform: scale(2);
  cursor: pointer;
}
.back-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.image-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.center {
  display: block;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.mat-elevation-z3 {
  margin: 0 auto;
  width: auto;
}
.icon-display:hover {
  color: red;
}
.bold-element{
  font-weight: bold;
}
