.formContainer{
  width: 100%;
  display: flex;
  justify-content: center;
}
.loginform {
  text-align: center;
  margin: 40px;
  padding: 20px;
  width: 30vw;
  height: 100%;
}
.formItem{
  width: 100%;
}
.submitButton{
  margin-right: 20px
}
.h1left{
  text-align: left;
}
.formRow {
  display: flex;
  gap: 10px;
}
.formItem50 {
  flex: 1;
}
.formItem40{
  width: 40%;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.formItem20 {
  flex: 0 1 20%;
}
mat-error {
  height: auto; /* oder setzen Sie einen spezifischen Wert, der groß genug ist */
  overflow: visible; /* stellt sicher, dass der Text nicht abgeschnitten wird */
}
