<div class="formContainer">
  <form class="loginform mat-elevation-z3" [formGroup]="myForm" novalidate (ngSubmit)="submit()">
    <h1 class="h1left">Registration</h1>
    <mat-form-field class="formItem">
      <mat-label>Anrede</mat-label>
      <mat-select>
        <mat-option value="Mann">Herr</mat-option>
        <mat-option value="Frau">Frau</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="formRow">
      <mat-form-field class="formItem50">
        <mat-label>Firstname</mat-label>
        <input type="text" matInput [formControl]="myForm.controls.firstName">
      </mat-form-field>

      <mat-form-field class="formItem50">
        <mat-label>Lastname</mat-label>
        <input type="text" matInput [formControl]="myForm.controls.lastName">
      </mat-form-field>

    </div>

      <mat-form-field class="formItem">
        <mat-label>Street</mat-label>
        <input type="text" matInput [formControl]="myForm.controls.street">
      </mat-form-field>

    <div class="formRow">
      <mat-form-field class="formItem40">
        <mat-label>City</mat-label>
        <input type="text" matInput [formControl]="myForm.controls.city">
      </mat-form-field>

      <mat-form-field class="formItem20">
        <mat-label>Zip</mat-label>
        <mat-error *ngIf="myForm.controls.zip.hasError('pattern')">
          Zip kann nur aus Zahlen bestehen.
        </mat-error>
        <input type="text" matInput [formControl]="myForm.controls.zip">
      </mat-form-field>

    </div>

    <mat-form-field class="formItem">
      <mat-label>Country</mat-label>
      <input type="text" matInput [formControl]="myForm.controls.country">
    </mat-form-field>

    <div class="formRow">
    <mat-form-field class="formItem50">
      <mat-label>Phone Number</mat-label>
      <input type="number" matInput [formControl]="myForm.controls.phone">
    </mat-form-field>
      <mat-form-field class="formItem50">
        <mat-label>Mobile Number</mat-label>
        <input type="number" matInput [formControl]="myForm.controls.mobilePhone">
      </mat-form-field>
    </div>

    <mat-form-field class="formItem">
      <mat-label>E-Mail</mat-label>
      <mat-error *ngIf="myForm.controls.email.hasError('required')">
        Feld darf nicht leer sein
      </mat-error>
      <mat-error *ngIf="myForm.controls.email.hasError('pattern')">
        Bitte gültige E-Mail Adresse eingeben
      </mat-error>
      <input type="email" matInput [formControl]="myForm.controls.email">
    </mat-form-field>

    <mat-form-field class="formItem">
      <mat-label>Password</mat-label>
      <input type="password" matInput [formControl]="myForm.controls.password">
    </mat-form-field>

    <button type="button" mat-raised-button (click)="submit()">Register</button>
  </form>
</div>
