.parent{
  width: 100%;
  display: flex;
  justify-content: center;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;

}

table.mat-elevation-z3 {
  width: 50vw;
  margin: 20px;
}
.linkName {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

.linkName:hover {
  color: red;

}
