<div class="parent">
  <div class="center">
    <table mat-table [dataSource]="categories" class="mat-elevation-z3">
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name</th>
        <td mat-cell *matCellDef="let element" class="linkName"
            (click)="goToDetailPage(element.id)"> {{element.name}} </td>
      </ng-container>
      <ng-container *ngIf="displayedColumns.includes('action')" matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> action</th>
        <td mat-cell *matCellDef="let element">
          <div class="flex flex-row gap-1">
            <button mat-icon-button color="primary" (click)="goToEditPage(element.id)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteCategory(element.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>
      <!-- Additional columns can be added here -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
