.formContainer{
  width: 100%;
  display: flex;
  justify-content: center;
}
.loginform {
  text-align: center;
  margin: 40px;
  padding: 20px;
  width: 30vw;
  height: auto;
}
.formItem{
  width: 90%;
  padding: 10px;
}
.submitButton{
  margin-right: 20px
}
